---
import Layout from '../layouts/Layout.astro'
import Header from '../sections/Header.astro'
import PostHeader from '../sections/PostHeader.astro'
---

<Layout title="Geriatric Care">
	<div class=" min-h-screen">
		<Header/>

		<PostHeader/>
	</div>
</Layout>