---
import Layout from '../layouts/Layout.astro'
import Header from '../sections/Header.astro'
import PostHeader from '../sections/PostHeader.astro'
import Message from '../components/Message.astro'
import Services from '../components/Services.astro'
import Prices from '../components/Prices.astro'
import Footer from '../components/Footer.astro'
import ContactUs from '../components/ContactUs.astro'
import NetworkButtons from '../components/NetworkButtons.astro'
import Gallery from '../components/Gallery.jsx'
---

<Layout>
	<div class=" min-h-screen dark:bg-[#353535]">
		<Header/>

		<PostHeader/>

		<Message/>

		<Services/>

		<Prices/>

		<section class="w-full bg-[#F4E4BA] dark:bg-[#353535] min-h-screen flex flex-col justify-center pt-44 md:pt-32 lg:pt-20" id="about-us">
			<Gallery client:only="react"/>
		</section>

		<ContactUs/>
		
		<NetworkButtons/>

		<Footer/>
	</div>
</Layout>