---
import Layout from '../layouts/Layout.astro'
import Header from '../sections/Header.astro'
---

<Layout title="Geriatric Care">
	<div class=" min-h-screen">
		<Header/>
	</div>
</Layout>

<style>
	
</style>
