---

---

<footer class="bg-[#008000] dark:bg-[#353535] dark:border-t-2 dark:border-white">
  <div class="max-w-screen-2xl mx-auto">
    <div class="flex py-8 justify-center text-white items-center px-2 sm:px-4">
      <div class="relative">
        <!-- <h1 class="font-bold text-xl pr-5 relative z-50">Skilline</h1>
        <svg class="w-11 h-11 absolute -top-2 -left-3 z-40" viewBox="0 0 79 79" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M35.9645 2.94975C37.9171 0.997129 41.0829 0.997127 43.0355 2.94975L76.0502 35.9645C78.0029 37.9171 78.0029 41.0829 76.0503 43.0355L43.0355 76.0502C41.0829 78.0029 37.9171 78.0029 35.9645 76.0503L2.94975 43.0355C0.997129 41.0829 0.997127 37.9171 2.94975 35.9645L35.9645 2.94975Z" stroke="#26C1F2" stroke-width="2"/>
        </svg> -->

        <img src="/logo-dark.svg" alt="" class="pr-6 max-w-64 w-full">
        <!-- <p class="bg-white text-[#353535] py-2 px-4 rounded-lg text-2xl uppercase font-black">Geriatric Care</p> -->
      </div>
      <span class="border-l border-gray-500 text-sm pl-5 py-2 font-semibold uppercase max-w-64 text-center text-balance">Agencia de Enfermeras y Cuidadoras</span>
    </div>
    <!-- <div class="text-center pb-16 pt-5">
      <label class="text-gray-300 font-semibold">Subscribe to get our Newsletter</label>
      <div class="px-5 sm:px-0 flex flex-col sm:flex-row sm:space-x-3 space-y-3 sm:space-y-0 justify-center mt-3">
        <input type="email" placeholder="Your Email" class="rounded-full py-2 pl-5 bg-transparent border border-gray-400">
        <button type="submit" class="text-white w-40 sm:w-auto mx-auto sm:mx-0 font-semibold px-5 py-2 rounded-full" style="background: linear-gradient(105.5deg, #545AE7 19.57%, #393FCF 78.85%);">Subscribe</button>
      </div>
    </div> -->
    <div class="flex items-center text-white text-sm justify-center">
      <a href="" class="pr-3">Servicios</a>
      <a href="" class="border-l border-gray-400 px-3">Precios</a>
      <a href="" class="border-l border-gray-400 pl-3">Contáctanos</a>
    </div>
    <div class="text-center text-white">
      <p class="mt-3 text-gray-400 text-sm">&copy; 2024 Geriatric Care.</p>
    </div>
  </div>
</footer>