---

---

<footer class="bg-[#008000] dark:bg-[#353535] dark:border-t-2 dark:border-white">
  <div class="max-w-screen-2xl mx-auto">
    <div class="flex flex-col md:flex-row py-8 justify-center text-white items-center px-2 sm:px-4">
      <div class="relative">
        <img src="https://content.geriatriccaresv.com/logo_dark.svg" alt="Logo Geriatric Care" class="md:pr-6 max-w-64 w-full" width="256px" height="83px">
      </div>
      <span class="md:border-l border-gray-500 text-sm pl-5 py-2 font-semibold uppercase max-w-64 text-center text-balance">Agencia de Enfermeras y Cuidadoras</span>
    </div>

    <div class="flex items-center text-white justify-center flex-wrap gap-4">
      <a href="/#start" aria-label="home">Inicio</a>
      <a href="/#message" aria-label="message" class="border-l border-gray-400 pl-4">Nosotros</a>
      <a href="/#services" aria-label="services" class="border-l border-gray-400 pl-4">Servicios</a>
      <a href="/#prices" aria-label="prices" class="border-l border-gray-400 pl-4">Precios</a>
      <a href="/#about-us" aria-label="about-us" class="border-l border-gray-400 pl-4">Galería</a>
      <a href="/#contact-us" aria-label="contact-us" class="border-l border-gray-400 pl-4">Contáctanos</a>
    </div>

    <div class="text-center text-white">
      <p class="mt-3 text-gray-400 text-sm">&copy; 2025 Geriatric Care.</p>
    </div>
  </div>
</footer>