---

---

<section class="mx-auto max-w-screen-xl w-full px-2 md:px-4 my-10 md:my-20">
  <div class="flex flex-col lg:flex-row items-center gap-8">
    <div data-aos="fade-right" class="relative mx-4 lg:mx-0 lg:w-1/2">
      <div class="bg-[#F4E4BA] dark:bg-[#00a1e4] rounded-full absolute w-12 h-12 z-0 -left-4 -top-3 animate-pulse"></div>

      <h1 class="font-semibold text-2xl sm:text-3xl md:text-4xl relative z-50 text-[#353535] dark:text-[#F4E4BA] ">Todo lo que tus seres queridos necesitan, <span class="text-[#008000] dark:text-white">puedes solucionarlo con Geriatric Care</span></h1>

      <p class="py-5 text-[#353535] dark:text-white text-lg sm:text-xl md:text-2xl font-medium text-balance">En nuestra agencia de enfermería especializada, estamos comprometidos a satisfacer todas las necesidades de tus seres queridos. Desde atención médica hasta apoyo emocional, nuestro equipo ofrece cuidado completo y compasivo. Confía en nosotros para brindar el más alto nivel de atención y calidad de vida en Geriatric Care.</p>
    </div>

    <div data-aos="fade-left" class="relative mx-4 lg:w-1/2">
      <div class="w-24 h-24 absolute rounded-lg z-0 -top-3 -left-3 bg-[#00a1e4] floating"></div>

      <img class="rounded-xl z-40 relative max-w-[720px] lg:max-w-none w-full mx-auto" src="family-nurse2.jpg">

      <div class="bg-[#ee6423] w-40 h-40 absolute rounded-lg z-10 -bottom-3 -right-3 floating"></div>
    </div>
  </div>
</section>