---

---

<section id="services-section" class="flex flex-col gap-y-28 mt-24 max-w-screen-xl mx-auto w-full">
  <p class="text-5xl text-[#008000] font-semibold text-center">Nuestros Servicios</p>

  <div class="grid md:grid-cols-2 gap-y-10 justify-items-center">
    <article class="flex gap-x-6 md:gap-x-12 md:w-[550px]">
      <div>
        <div class="bg-primary h-10 md:h-12 md:p-3 md:w-12 p-2 rounded-full text-white w-10 flex justify-center items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-10 md:h-12 md:w-12 w-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5"></path>
          </svg>
        </div>
      </div>

      <section>
        <h3 class="text-xl font-medium md:text-4xl mb-3">Enfermeras Geriatricas</h3>
        <p class="text-pretty opacity-90 md:text-lg">Nuestro servicio de enfermería geriátrica ofrece atención integral y personalizada para garantizar el bienestar de tus seres queridos. Con un equipo altamente capacitado y compasivo, brindamos cuidados médicos de calidad, apoyo emocional y asistencia en actividades diarias. Priorizamos el respeto, la dignidad y la seguridad de cada paciente, creando un ambiente cálido y acogedor. Confía en nosotros para proporcionar el más alto nivel de atención y calidad de vida. Tu tranquilidad y la salud de tus seres queridos son nuestra prioridad absoluta.</p>
      </section>
    </article>
  </div>
</section>