---

---
<div id="start"></div>

<header id="navbar" class="bg-[#F4E4BA] dark:bg-[#353535] transition-all sticky top-0 z-50 w-full overflow-hidden">
  <nav class="max-w-screen-2xl flex flex-col lg:flex-row lg:justify-between lg:items-center gap-4 mx-auto px-2 md:px-4 pt-0 pb-2 lg:pb-0">
    <a href="/#start" class="flex items-center">
      <img id="nav-logo" src="/logo.svg" class="w-full max-w-[350px] mx-auto lg:mx-0" alt="Geriatric Care Logo" />
    </a>

    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center mx-auto p-2 w-10 h-10 justify-center text-sm text-[#353535] rounded-lg md:hidden hover:bg-[#008000] hover:text-white focus:outline-none dark:text-white dark:hover:bg-white dark:hover:text-[#353535] transition-all" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Abrir menú principal</span>

      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
    
    <div class="hidden md:flex" id="navbar-default">
      <ul class="flex flex-col md:flex-row gap-2 md:items-center md:justify-center rounded-lg md:mx-auto lg:mx-0 font-bold">
        <li>
          <a href="/#start" aria-label="home" class="block text-center py-2 px-4 w-full rounded-full transition-all">Inicio</a>
        </li>
        <li>
          <a href="/#services" aria-label="services" class="block text-center py-2 px-4 w-full rounded-full transition-all">Servicios</a>
        </li>
        <li>
          <a href="/#prices" aria-label="prices" class="block text-center py-2 px-4 w-full rounded-full transition-all">Precios</a>
        </li>
        <li>
          <a href="/#about-us" aria-label="about-us" class="block text-center py-2 px-4 w-full rounded-full transition-all">Nosotros</a>
        </li>
        <li>
          <a href="/#contact-us" aria-label="contact-us" class="block text-center py-2 px-4 w-full rounded-full transition-all">Contáctanos</a>
        </li>
        
        <li>
          <button id="theme-toggle" type="button" class="text-[#353535] hover:bg-[#008000] hover:text-white dark:text-white dark:hover:text-[#353535] dark:hover:bg-white focus:outline-none focus:ring-0 rounded-full text-sm py-2 px-4 w-full transition-all">
            <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5 mx-auto" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
            <svg id="theme-toggle-light-icon" class="hidden w-5 h-5 mx-auto" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const logo = document.getElementById('nav-logo') 
    const themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon')
    const themeToggleLightIcon = document.getElementById('theme-toggle-light-icon')
    const themeToggleBtn = document.getElementById('theme-toggle')

    const sections = document.querySelectorAll("section")
    const navItems = document.querySelectorAll("header nav a")

    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
        logo.setAttribute('src', '/logo-dark.svg')
    } else {
        document.documentElement.classList.remove('dark')
        logo.setAttribute('src', '/logo.svg')
    }

    if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        themeToggleLightIcon.classList.remove('hidden')
    } else {
        themeToggleDarkIcon.classList.remove('hidden')
    }


    themeToggleBtn.addEventListener('click', function() {
      themeToggleDarkIcon.classList.toggle('hidden')
      themeToggleLightIcon.classList.toggle('hidden')

      if (localStorage.getItem('color-theme')) {
        if (localStorage.getItem('color-theme') === 'light') {
            document.documentElement.classList.add('dark')
            localStorage.setItem('color-theme', 'dark')
            logo.setAttribute('src', '/logo-dark.svg')
            navItems.forEach(item => {
              if(item.getAttribute("aria-label") !== null){
                item.classList.remove("light")
                item.classList.add("dark")
              }
            })
        } else {
            document.documentElement.classList.remove('dark')
            localStorage.setItem('color-theme', 'light')
            logo.setAttribute('src', '/logo.svg')
            navItems.forEach(item => {
              if(item.getAttribute("aria-label") !== null){
                item.classList.remove("dark")
                item.classList.add("light")
              }
            })
        }
      } else {
        if (document.documentElement.classList.contains('dark')) {
            document.documentElement.classList.remove('dark')
            localStorage.setItem('color-theme', 'light')
            logo.setAttribute('src', '/logo.svg')
            navItems.forEach(item => {
              if(item.getAttribute("aria-label") !== null){
                item.classList.remove("dark")
                item.classList.add("light")
              }
            })
        } else {
            document.documentElement.classList.add('dark')
            localStorage.setItem('color-theme', 'dark')
            logo.setAttribute('src', '/logo-dark.svg') 
            navItems.forEach(item => {
              if(item.getAttribute("aria-label") !== null){
                item.classList.remove("light")
                item.classList.add("dark")
              }
            })
        }
      }
    })

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if(item.getAttribute("aria-label") !== null){
              item.classList.remove("selected", "deselected", "light", "dark")

              if (item.getAttribute("aria-label") == entry.target.id) {
                if (localStorage.getItem('color-theme') === 'light') {
                  item.classList.add("selected", "light")
                } else {
                  item.classList.add("selected", "dark")
                }
              } else {
                if (localStorage.getItem('color-theme') === 'light') {
                  item.classList.add("deselected", "light")
                } else {
                  item.classList.add("deselected", "dark")
                }
              }
            }
          })
        }
      })
    }

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    })

    sections.forEach((section) => {
      observer.observe(section)
    })

    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect()
      } else {
        sections.forEach((section) => {
          observer.observe(section)
        })
      }
    }
  })
</script>

<style>
  header nav a.light{
    color: #353535;
  }

  header nav a.light:hover{
    background-color: #008000;
    color: white;
  }
  
  header nav a.light.selected{
    background-color: #008000;
    color: white;
  }

  header nav a.light.selected:hover{
    background-color: #006000;
    color: white;
  }

  header nav a.dark{
    color: white;
  }

  header nav a.dark:hover{
    background-color: #F4E4BA;
    color: #353535;
  }
  
  header nav a.dark.selected{
    background-color: #F4E4BA;
    color: #353535;
  }

  header nav a.dark.selected:hover{
    background-color: #FFE29A;
    color: #353535;
  }
</style>